<div class="container">
      <h1>Angular 4 + Google Maps Places Autocomplete</h1>
      <div class="form-group">
         <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </div>
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
      <h1>Google Maps Markers</h1>
      <div id="map"></div>
      <ul id=places>
      </ul>
    <br>
    <table *ngIf="places" id="placesTable" class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Icon</th>
          <th>Picture</th>
          <th>Name</th>
          <th>Address</th>
          <th>Rating</th>
          <th>Open Now?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of places">
          <td><img [ngClass]="'myIcon'" [src]="p.icon"></td>
          <td><img *ngIf="p.photos" [src]="p.photos[0].getUrl({'maxWidth': 200, 'maxHeight': 200})"></td>
          <td style="max-width: 250px; font-size: 20px;">{{p.name}}</td>
          <td>{{p.vicinity}}</td>
          <td>{{p.rating}}</td>
          <td><span *ngIf="p.opening_hours">{{(p.opening_hours.open_now) ? 'yes' : 'no'}}</span></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" id="more">More results</button>
    <br>
    <br>
</div>
