<h2>Vehicle details</h2>
<div class="well">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Vehicle</a></li>
    <li role="presentation"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" *ngIf="vehicle && additionalInfo">
    <!-- Vehicle tab -->
    <div role="tabpanel" class="tab-pane active" id="basic">
     <div class="row">
     <div class="col-lg-6 col-md-6 col-sm-12"> 
     <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-3">
        <div *ngIf="logo == null && auth.authenticated()">
          <label>Upload logo</label>  
          <input type="file" (change)="uploadLogo()" #fileInput>
        </div>
        <div *ngIf="logo != null" class="photo-wrapper"> 
          <img src="/logos/{{ logo.fileName }}" class="img-logo img-responsive">
          <!--<span class="close" (click)="deleteLogo(logo)"></span>-->
        </div>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-9"> 
        <h2>{{ vehicle.make.name }} {{ vehicle.model.name }} <small>BASICS</small></h2>
      </div>
     </div>
     <div *ngIf="photos.length > 0" class="photo-wrapper"> 
           <img src="/uploads/{{ photos[0].fileName }}" class="img-main img-responsive">
     </div>
      <table class="table table-bordered table-hover table-responsive" style="width: 100%; min-width: 300px;">
        <thead>
          <tr>
            <th>Registered</th>
            <th>Milage</th>
            <th>First Owner?</th>
            <!--<th>Test Vehicle?</th>
            <th>Basic Price</th>-->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ vehicle.isRegistered ? 'Yes' : 'No' }}</td>
            <td>{{ additionalInfo.mileage }} km</td>
            <td>{{ (additionalInfo.ownerNo == 1) ? 'Yes' : 'No' }}</td>
       <!-- <td>No</td>
            <td>€ 20000</td> -->
          </tr>
        </tbody>
      </table>
        <h3>Features</h3>
      <div class="row">
        <div class="features-wrapper"> 
          <div class="col-md-6" *ngFor="let f of vehicle.features">
              <div class="myFeaturesList"><span id="rn-features">{{ f.name }}</span></div>
          </div>
        </div>
      </div>
     </div> <!-- col -->
     <div class="col-lg-6 col-md-12 col-sm-12">
      <h3>Additional Informations</h3>
         <ul class="additionalData">
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.modelType" 
                              [additionalInfoValue]="additionalInfo.modelType">
          </rb-additional-info>
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.modelEngineType" 
                              [additionalInfoValue]="additionalInfo.modelEngineType">
          </rb-additional-info>
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.yearOfManafacture" 
                              [additionalInfoValue]="additionalInfo.yearOfManafacture">
          </rb-additional-info>
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.firstRegistrationYear" 
                              [additionalInfoValue]="additionalInfo.firstRegistrationYear">
          </rb-additional-info>
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.mileage" 
                              [additionalInfoValue]="additionalInfo.mileage">
          </rb-additional-info>
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.modelEnginePower" 
                              [additionalInfoValue]="additionalInfo.modelEnginePower">
          </rb-additional-info>
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.gearType" 
                              [additionalInfoValue]="additionalInfo.gearType">
          </rb-additional-info>
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.noOfGears" 
                              [additionalInfoValue]="additionalInfo.noOfGears">
          </rb-additional-info>
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.fuelConsumption" 
                              [additionalInfoValue]="additionalInfo.fuelConsumption">
          </rb-additional-info>
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.carState" 
                              [additionalInfoValue]="additionalInfo.carState">
          </rb-additional-info>
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.carColor" 
                              [additionalInfoValue]="additionalInfo.carColor">
          </rb-additional-info>
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.ownerNo" 
                              [additionalInfoValue]="additionalInfo.ownerNo">
          </rb-additional-info>
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.carCurrentLocation" 
                              [additionalInfoValue]="additionalInfo.carCurrentLocation">
          </rb-additional-info>
          <rb-additional-info [additionalInfoTitle]="additionalInfoTitles.carDescription" 
                              [additionalInfoValue]="additionalInfo.carDescription">
          </rb-additional-info>
      </ul>
      <h3>Contact</h3>
        <table class="table table-bordered table-hover table-responsive">
        <thead>
          <tr>
            <th>Contact Name</th>
            <th>Contact Phone</th>
            <th>Contact Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ vehicle.contact.name }}</td>
            <td>{{ vehicle.contact.phone }}</td>
            <td>{{ vehicle.contact.email }}</td>
          </tr>
        </tbody>
      </table>
      <br/>
      <br/>
      <br/>
      <div class="buttons-wrapper">
        <a *ngIf="auth.authenticated()" class="btn btn-primary" [routerLink]="['/vehicles/edit/', vehicle.id]">Edit</a>
        <button *ngIf="auth.authenticated()" class="btn btn-danger" (click)="delete()">Delete</button>
        <a class="btn btn-default pull-right" [routerLink]="['/vehicles']">View All Vehicles</a>
      </div>
       </div> <!-- /col -->
      </div> <!-- /Main row -->
    </div> <!-- /tab -->
    <!-- Photos tab -->
    <div role="tabpanel" class="tab-pane" id="photos">
      <h2>{{ vehicle.make.name }} {{ vehicle.model.name }} <small>PHOTOS</small></h2>
      <input *ngIf="auth.authenticated()" type="file" (change)="uploadPhoto()" #photoFileInput>
      <div class="progress" *ngIf="progress && progress.percentage < 100">
        <div class="progress-bar" [style.width]="progress.percentage + '%'">
          <span class="sr-only">{{ progress.percentage }}% Complete</span>
        </div>
      </div>
      <div *ngIf="progress && progress.percentage < 100">
        <button class="btn btn-danger" 
           (click)="cancleUpload()">Cancel upload
        </button>
      </div>
      <div *ngFor="let photo of photos" class="photo-wrapper"> 
        <img src="/uploads/{{ photo.fileName }}" class="img-thumbnail">
        <span class="close" (click)="deletePhoto(photo)"></span>
      </div>
    </div>
  </div>
</div>


