<h1>Vehicle details</h1>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Vehicle</a></li>
    <li role="presentation"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" *ngIf="vehicle">
    <!-- Vehicle tab -->
    <div role="tabpanel" class="tab-pane active" id="basic">
     <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-2">
        <div *ngIf="logo == null">
          <label>Upload logo</label>  
          <input type="file" (change)="uploadLogo()" #fileInput>
        </div>
        <div *ngIf="logo != null" class="photo-wrapper"> 
          <img src="/logos/{{ logo.fileName }}" class="img-thumbnail img-logo">
          <span class="close" (click)="deleteLogo(logo)"></span>
        </div>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8"> 
        <h2>{{ vehicle.make.name }} {{ vehicle.model.name }} Basics</h2>
      </div>
     </div>
     <div *ngIf="photos.length > 0" class="photo-wrapper"> 
           <img src="/uploads/{{ photos[0].fileName }}" class="img-thumbnail img-main">
     </div>
      <table class="table table-bordered table-hover table-responsive" style="width: 200px; min-width: 100px;">
        <thead>
          <tr>
            <th>Registered</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ vehicle.isRegistered ? 'Yes' : 'No' }}</td>
          </tr>
        </tbody>
      </table>
      <h2>Features</h2>
      <div class="row">
        <div class="features-wrapper"> 
          <div class="col-md-6" *ngFor="let f of vehicle.features">
              <div class="myFeaturesList"><span id="rn-features">{{ f.name }}</span></div>
          </div>
        </div>
      </div>
      <h2>Contact</h2>
      
        <table class="table table-bordered table-hover table-responsive">
        <thead>
          <tr>
            <th>Contact Name</th>
            <th>Contact Phone</th>
            <th>Contact Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ vehicle.contact.name }}</td>
            <td>{{ vehicle.contact.phone }}</td>
            <td>{{ vehicle.contact.email }}</td>
          </tr>
        </tbody>
      </table>
    
      <br/>
      <p>
        <a class="btn btn-primary" [routerLink]="['/vehicles/edit/', vehicle.id]">Edit</a>
        <button class="btn btn-danger" (click)="delete()">Delete</button>
        <a class="btn btn-default" [routerLink]="['/vehicles']">View All Vehicles</a>
      </p>
    </div>
    <!-- Photos tab -->
    <div role="tabpanel" class="tab-pane" id="photos">
      <h2>{{ vehicle.make.name }} {{ vehicle.model.name }} Photos</h2>
      <input type="file" (change)="uploadPhoto()" #fileInput>
      <div class="progress" *ngIf="progress && progress.percentage < 100">
        <div class="progress-bar" [style.width]="progress.percentage + '%'">
          <span class="sr-only">{{ progress.percentage }}% Complete</span>
        </div>
      </div>
      <div *ngIf="progress && progress.percentage < 100">
        <button class="btn btn-danger" 
           (click)="cancleUpload()">Cancel upload
        </button>
      </div>
      <div *ngFor="let photo of photos" class="photo-wrapper"> 
        <img src="/uploads/{{ photo.fileName }}" class="img-thumbnail">
        <span class="close" (click)="deletePhoto(photo)"></span>
      </div>
    </div>
  </div>
</div>


