table {
    width: 500px;
    min-width: 300px;
    overflow: scroll;
}

th, td {
    width: 33.3%;
}

.myFeaturesList {
    display: block;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
}

ul{
    -webkit-padding-start: 0px;
}

.photo-wrapper {
  position: relative;
  display: inline-block;
}
.close:before {
  content: '✕';
}
.close {
  position: absolute;
  font-size: 13px;
  top: 5%;
  right: 5%;
  opacity: 0.6;
  color: red;
  cursor: pointer;
}
.close:hover {
  opacity: 0.9;
  font-size: 15px;
}

img {
    margin: 5px;
    max-width: 350px;
}

.make-model {
    font-size: 22px;
    font-weight: bold;
}

.features-wrapper {
    max-width: 600px;
    min-width: 300px;
    overflow: auto;
    border: 2px solid whitesmoke;
}

.img-logo {
 max-width: 100px;
}

.img-main {
 max-width: 100%;
}

th, td {
 width: 20%;
}

.buttons-wrapper {
position: fixed;
right: 20px;
bottom: 10px;
width: 500px;
}

.buttons-wrapper > a, .buttons-wrapper > button {
    width: 30%;
    opacity: 0.9;
}

.buttons-wrapper > a:hover, .buttons-wrapper > button:hover {
    opacity: 1;
}

.additionalData > li {
    list-style: none;
    max-width: 500px;
    margin: 3px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.2);
}
.addDataTitle {
    min-width: 200px;
    text-align: right;
    margin-right: 5px;
    display: inline-block;
    font-weight: bold;
}
.addDataValue {
    display: inline-block;
    min-width: 270px;
    margin-left: 5px;
}