<h2>New Vehicle</h2>
<div class="container-fluid">
    <form #f="ngForm" (ngSubmit)="submit()">
        <div class="form-group my-form">
            <label for="make">Make</label>
            <select id="make" 
                    class="form-control" 
                    (change)="onMakeChange()" 
                    [(ngModel)]="vehicle.makeId" 
                    name="makeId" 
                    required 
                    #make="ngModel">
                <option value=""></option>
                <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
            </select>
            <div class="alert alert-danger my-alert" *ngIf="make.touched && !make.valid">Please specifiy the Make</div>
        </div>
        <div class="form-group my-form">
            <label for="model">Model</label>
            <select id="model" 
                    class="form-control" 
                    [(ngModel)]="vehicle.modelId" 
                    name="modelId" 
                    required
                    #model="ngModel">
                <option value=""></option>
                <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
            </select>
            <div class="alert alert-danger my-alert" *ngIf="model.touched && !model.valid">Please specifiy the Model</div>
        </div>
        <p>Is this vehicle registered?</p>
        <label for="registered" class="radio-inline">
                <input type="radio" name="isRegistered" id="registered" [value]="true" [(ngModel)]="vehicle.isRegistered"> Yes
                </label>
        <label for="notRegistered" class="radio-inline">
                <input type="radio" name="isRegistered" id="notRegistered" [value]="false" [(ngModel)]="vehicle.isRegistered"> No
                </label>
        <h2>Features</h2>
        <div class="row">
            <div class="features-wrapper">
                <div *ngFor="let f of features" class="col-md-6">
                    <div class="checkbox">
                        <label for="feature{{ f.id }}">
                            <input type="checkbox" id="feature{{ f.id }}" (change)="onFeatureToggle(f.id, $event)" [checked]="vehicle.features.includes(f.id)"> {{ f.name }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <h2>Contact</h2>
        <div class="form-group my-form">
            <label for="contactName">Name</label>
            <input id="contactName" 
                type="text"
                placeholder="Enter Name" 
                class="form-control" 
                [(ngModel)]="vehicle.contact.name" 
                name="contactName" 
                required 
                #contact="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="contact.touched && !contact.valid">Please specifiy a Name</div> 
        </div>
        <div class="form-group my-form">
            <label for="contactPhone">Phone</label>
            <input id="contactPhone" 
                type="numbers" 
                placeholder="Enter Phone" 
                class="form-control" 
                [(ngModel)]="vehicle.contact.phone" 
                name="contactPhone" 
                required 
                #phone="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="phone.touched && !phone.valid">Please specifiy a contact phone</div> 
        </div>
        <div class="form-group my-form">
            <label for="contactEmail">Email</label>
            <input id="contactEmail" 
                type="email"
                placeholder="Enter Email"  
                class="form-control" 
                [(ngModel)]="vehicle.contact.email" 
                name="contactEmail" 
                required 
                #email="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="email.touched && !email.valid">Please specifiy a contact email</div> 
        </div>
         <h2>Additional Information</h2>
         <div class="form-group my-form">
            <label for="modelType">Model Type</label>
            <input id="modelType" 
                type="text"
                placeholder="Enter Model Type (e.g. 2.0 TDI)"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.modelType" 
                name="modelType" 
                required
                #modelType="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="modelType.touched && !modelType.valid">Please specifiy a model type</div>
         </div>
         <div class="form-group my-form">
              <label for="modelEngineType">Engine Type</label>
             <input id="modelEngineType" 
                type="text"
                placeholder="Enter Model Engine Type (Diesel, Gas, Electrical...)"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.modelEngineType" 
                name="modelEngineType" 
                required
                #modelEngineType="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="modelEngineType.touched && !modelEngineType.valid">Please specifiy Model Engine Type</div>
         </div>
         <div class="form-group my-form">
             <label for="yearOfManafacture">Year Of Manafacture</label>
             <input id="yearOfManafacture" 
                type="number"
                placeholder="Enter Year Of Manafacture"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.yearOfManafacture" 
                name="yearOfManafacture" 
                required
                #yearOfManafacture="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="yearOfManafacture.touched && !yearOfManafacture.valid">Please specifiy a year of manafacture</div> 
         </div>
         <div class="form-group my-form">
             <label for="firstRegistrationYear">First Year Of Registration</label>
             <input id="firstRegistrationYear" 
                type="number"
                placeholder="Enter First Year Of Registration"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.firstRegistrationYear" 
                name="firstRegistrationYear" 
                required
                #firstRegistrationYear="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="firstRegistrationYear.touched && !firstRegistrationYear.valid">Please specifiy a First Year Of Registration</div>
         </div>
         <div class="form-group my-form">
            <label for="mileage">Mileage</label>
             <input id="mileage" 
                type="number"
                placeholder="Enter Mileage"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.mileage" 
                name="mileage" 
                required
                #mileage="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="mileage.touched && !mileage.valid">Please specifiy car Mileage</div>
         </div>
         <div class="form-group my-form">
             <label for="modelEnginePower">Engine Power</label>
             <input id="modelEnginePower" 
                type="text"
                placeholder="Enter Model Engine Power"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.modelEnginePower" 
                name="modelEnginePower" 
                required
                #modelEnginePower="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="modelEnginePower.touched && !modelEnginePower.valid">Please specifiy Model Engine Power</div>
         </div>
         <div class="form-group my-form">
            <label for="gearType">Gear Type</label>
             <input id="gearType" 
                type="text"
                placeholder="Enter Gear Type (Manual or Automatic)"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.gearType" 
                name="gearType" 
                required
                #gearType="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="gearType.touched && !gearType.valid">Please specifiy Gear Type</div>
         </div>
         <div class="form-group my-form">
            <label for="noOfGears">Number of Gears</label>
             <input id="noOfGears" 
                type="number"
                placeholder="Enter Number of Gears"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.noOfGears" 
                name="noOfGears" 
                required
                #noOfGears="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="noOfGears.touched && !noOfGears.valid">Please specifiy Number of Gears</div>
         </div>
         <div class="form-group my-form">
             <label for="fuelConsumption">Fuel Consumption</label>
             <input id="fuelConsumption" 
                type="number"
                placeholder="Enter Fuel Consumption"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.fuelConsumption" 
                name="fuelConsumption" 
                required
                #fuelConsumption="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="fuelConsumption.touched && !fuelConsumption.valid">Please specifiy Fuel Consumption</div>
         </div>
         <div class="form-group my-form">
            <label for="carState">Car State</label>
             <input id="carState" 
                type="text"
                placeholder="Enter Car State"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.carState" 
                name="carState" 
                required
                #carState="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="carState.touched && !carState.valid">Please specifiy Car State</div>
         </div>
         <div class="form-group my-form">
             <label for="carColor">Car Color</label>
             <input id="carColor" 
                type="text"
                placeholder="Enter Car Color"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.carColor" 
                name="carColor" 
                required
                #carColor="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="carColor.touched && !carColor.valid">Please specifiy Car Color</div>
         </div>
         <div class="form-group my-form">
            <label for="ownerNo">Owner Number?</label>
             <input id="ownerNo" 
                type="number"
                placeholder="Enter Owner Number?"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.ownerNo" 
                name="ownerNo" 
                required
                #ownerNo="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="ownerNo.touched && !ownerNo.valid">Please specifiy Owner Number?</div>
         </div>
         <div class="form-group my-form">
            <label for="carCurrentLocation">Car Current Location</label>
             <input id="carCurrentLocation" 
                type="text"
                placeholder="Enter Car Current Location"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.carCurrentLocation" 
                name="carCurrentLocation" 
                required
                #carCurrentLocation="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="carCurrentLocation.touched && !carCurrentLocation.valid">Please specifiy Car Current Location</div>
         </div>
         <div class="form-group my-form">
             <label for="carDescription">Car Description</label>
             <input id="carDescription" 
                type="text"
                placeholder="Enter Car Description"  
                class="form-control" 
                [(ngModel)]="vehicle.additionalInfo.carDescription" 
                name="carDescription" 
                required
                #carDescription="ngModel">
            <div class="alert alert-danger my-alert" *ngIf="carDescription.touched && !carDescription.valid">Please specifiy Car Description</div>
        </div> 
        <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
        <button *ngIf="vehicle.id" class="btn btn-danger" type="button" (click)="delete()">Delete</button>
        <button type="button" class="btn btn-default" (click)="goBack()">Cancel</button>
    </form>
</div>